<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<body>
    <div class="jumbrotron text-center">
        <h1 class="display-4">Latest Posts</h1>
    </div>
    <div class="container"> 
        {% if post %}
        {% for i in post %}
        <div class="card" style="background-color: rgb(56, 169, 8)">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title">{{i.title}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{i.body}}</p>
                <br>
                <p class="text-white"> by {{i.author}}</p>
            </div>
            <div class="card-footer text-white">
                created: {{i.created_at}}
            </div>
        </div>
        <br>
        {% endfor %}
        {% else %}
        <p> No Posts</p>
        {% endif %}
    </div>

</body>

</html>